body{
    /* background-repeat: no-repeat;
    /* background-position: 50px  25px; 
    
    background-position: center center;
    background-attachment: fixed;*/
    
    
    background: url(images/inicio.jpg) no-repeat center center fixed;
    background-size: cover; 
}
main section img{
    width:560px;
    height:315px;
}
